{{>navbar}}
<h1>This is homepage</h1>
{{!-- <a href="/quiz"><button type="button" name="button">quiz</button></a>
<a href="/dashboard"><button type="button" name="button">dashboard</button></a>
<a href="/login"><button type="button" name="button">login</button></a>
<a href="/signup"><button type="button" name="button">signup</button></a> --}}
{{>footer}}